{% extends "base.html" %}
{% set body_class = 'article' %}
{% if article.status|lower == "draft" %}
    {% set body_class = 'article draft' %}
{% endif %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block meta %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block content %}
<section id="content">
    <article>
        <div class="row">
            <div class="col-lg-9">
                <header id="page-header">
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}"
                           rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">
                            {{ article.title }}
                        </a>
                    </h1>
                    <div id="article-info">
                        {% include "include/article_info.html" %}
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                {% if article.status|lower == "draft" %}
                    <div id="draft-notice">Draft article. Please do not distribute.</div>
                {% endif %}
                <div class="entry-content">
                    {{ article.content }}
                </div>
                <footer class="text-center">
                    <!-- neighbors plugin support -->
                    {% if (article.prev_article_in_category or article.next_article_in_category) %}
                    <div id="article-navigation-category">
                        Articles in
                        <span class="category">
                            <i class="fa fa-folder-open padding-small"></i><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>:
                        {% if article.prev_article_in_category %}
                        <span class="prev">
                            <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
                                {{ article.prev_article_in_category.title }}
                            </a>
                        </span>
                        {% endif %}
                        &middot;
                        {% if article.next_article_in_category %}
                        <span class="next">
                            <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
                                {{ article.next_article_in_category.title }}
                            </a>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if (article.prev_article or article.next_article) %}
                    <div id="article-navigation">
                        All Articles:
                        {% if article.prev_article %}
                        <span class="prev">
                            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                                {{ article.prev_article.title }}
                            </a>
                        </span>
                        {% endif %}
                        &middot;
                        {% if article.next_article %}
                        <span class="next">
                            <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                                {{ article.next_article.title }}
                            </a>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                </footer>
                {% include 'include/comments.html' %}
            </div>
            {% include 'include/toc.html' %}
        </div>
    </article>
</section>
{% endblock %}

{% block scripts %}
    {% include 'include/comments_scripts.html' %}
{% endblock %}
