{% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
{% endif %}

{% macro nav_small_li(href, title, content) -%}
    <li>
        <a href="{{href|striptags|trim}}" title="{{title|striptags|trim}}" class="collapsed">
            {{content}}
        </a>
    </li>
{%- endmacro %}
{% macro nav_small_li_collapsable(href, title, content) -%}
    <li>
        <a href="{{href|striptags|trim}}" title="{{title|striptags|trim}}" class="collapsed">
            {{content}}
        </a>
    </li>
{%- endmacro %}
{% macro get_icon_attributes(name) -%}
    {%- set name_sanitized = name|lower|replace('+','-plus')|replace(' ','-') -%}
    {%- if name_sanitized in ['flickr', 'spotify', 'stack-overflow', 'bitbucket', 'linkedin'] -%}
        {%- set iconattributes = 'fab fa-' ~ name_sanitized -%}
    {%- else -%}
        {%- set iconattributes = 'fab fa-' ~ name_sanitized ~ '-square' -%}
    {%- endif -%}
    {%- if name|lower == 'email' -%}
        {%- set iconattributes = 'fas fa-envelope-square' -%}
    {%- endif -%}
    {{iconattributes}}
{%- endmacro %}
{% if article or page %}
    {% set share_url = (SITEURL + '/' + (article.url if article else page.url)) %}
{% endif %}
<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="description" content="{{ SITESUBTITLE|escape }}" />
    {% endblock %}

    {% if OPEN_GRAPH %}
    {% include "include/open_graph.html" %}
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    {% if BOOTSTRAP_THEME %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.{{ BOOTSTRAP_THEME }}.min.css" type="text/css"/>
    {% else %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />
    {% endif %}

    <link href="{{ SITEURL }}/theme/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet" />

    {% if TYPOGRIFY %}
        <link href="{{ SITEURL }}/theme/css/typogrify.css" rel="stylesheet" />
    {% endif %}
    <link href="{{ SITEURL }}/theme/css/pelican-twitchy.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CUSTOM_CSS %}
        <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet" />
    {% endif %}
</head>
<body class="{{ body_class }}" data-spy="scroll" data-target="#scrollspy">
    <div id="wrapper">
        <!-- Sidebar -->
        {% include "include/sidebar.html" %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                {% block precontent scoped %}
                {% endblock %}
                {% block content scoped %}
                {% endblock %}
                {% include "include/footer.html" %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery Version 1.11.2 -->
    <script src="{{ SITEURL }}/theme/js/jquery-1.11.2.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <!-- twitchy Script -->
    <script src="{{ SITEURL }}/theme/js/pelican_twitchy.min.js"></script>
    {% include 'include/cookieconsent.html' %}
    {% include 'include/ga.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
